/* wypisuje litery */

.groupline {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.alfabet{
    position: relative;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start ;
    align-content:flex-start;
    align-items:flex-start;
}

li{
    text-decoration: none;
    list-style: none;
}

.row-alpha, .wybrana-litera {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    border-radius: .53em;
    font-size: 1.2em;
    padding:.5em .81em;
    border: .05em solid #860e0e;
    text-align: center;

    margin:.2em;
    box-shadow: 0.2em 0.2em 0.2em #780D0D;
    background-color: #282727;

}

.wybrana-litera{
    background-color: #579183;
}


ul .row-alpha:nth-child(n):hover {
    cursor: pointer;
    background-color: #860e0e;
    overflow: hidden;
    border-radius: .53em;
}

/* END wypisuje litery */

.slowo{
    box-sizing: border-box;
    padding: .6em;
    font-size: 3em;
    color: #BCC8D2;
    height: 100%;
    letter-spacing: .15em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;    
}

